html{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
       
    height: 100%;
    
}

body {
    margin: 10px;
    background-color: white;
    
    flex: 1;
    display: flex;
    flex-direction: column;
}

#container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.rows {
    flex: 1;
    display: flex;
}

.columns {
  flex: 1;
  border: 0.1px dotted black;
}

.buttons {
    display: flex;  
    flex:1;
    max-height: 20px;  
    margin: 5px;
    gap: 5px;
    
}

button {
    font-size: 12px;
    font-weight: bold;

    padding: 0px 20px;
    background-color: rgb(201, 201, 201);
    border-radius: 15px;
    border-style: none;

    
}

button:hover {
    background-color: red;
}


