*{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

body {
    background-color:#c7d2fe;


    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    background-color: #818cf8;
    
    margin: 2px;
    padding: 10px;    
    border: 5px solid black;
    border-radius: 10px;
    
    height: 90vh;
    width: 100vh;

    display: flex;
    flex-direction: column;
}


/* buttons */
.buttons {
    background-color: white;
    margin: 8px 0;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid black;   

    display: flex;  
   
    gap: 10px;  
}

button, 
#random-colour-btn-container {
    background-color: #818cf8;
    padding: 5px 20px;
    
    border-radius: 15px;
    border-style: none;
    color: white
}

button:hover,
#random-colour-btn-container:hover {
    background-color: #c7d2fe;
}

#random-colour-btn-container {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* draw area */
#sketch-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;

    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.rows {
    flex: 1;
    display: flex;
}

.columns {
    flex: 1;
}