html{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
       
    height: 100%;
    margin: 0;
}

body {
    margin: 50px;
    background-color: white;
    flex: 1;

    display: flex;
    flex-direction: column;
}

#container {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.rows {
    flex: 1;
    display: flex;
}

.columns {
  flex: 1;

  border: 0.5px dotted black;
}

.buttons {
    display: flex;  
    flex:1;
    max-height: 50px;  
    padding: 5px;
    gap: 20px;
}

button {
    font-size: 15px;
    font-weight: bold;

    padding: 10px 50px;
    background-color: rgb(201, 201, 201);
    border-radius: 15px;
    border-style: none;
}

button:hover {
    background-color: red;
}